<div class="filters">
  <form [formGroup]="filterForm">
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.player" | translate }}</mat-label>
      <mat-select formControlName="playerId">
        <mat-option *ngFor="let value of allPlayers" [value]="value.id"
          >{{ value.firstName }} {{ value.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.externalId" | translate }}</mat-label>
      <input matInput type="text" formControlName="externalId" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.type" | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let value of allTransactionTypes" [value]="value">{{
          value
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.provider" | translate }}</mat-label>
      <mat-select formControlName="provider">
        <mat-option
          *ngFor="let value of allTransactionProviders"
          [value]="value"
          >{{ value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.direction" | translate }}</mat-label>
      <mat-select formControlName="direction">
        <mat-option
          *ngFor="let value of allTransactionDirections"
          [value]="value"
          >{{ value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.createdFrom" | translate }}</mat-label>
      <input matInput type="date" formControlName="createdFrom" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "transactions.createdTo" | translate }}</mat-label>
      <input matInput type="date" formControlName="createdTo" />
    </mat-form-field>
  </form>

  <button mat-button color="primary" (click)="applyFilters()">
    {{ "transactions.apply" | translate }}
  </button>
  <button mat-button color="warn" (click)="clearFilters()">
    {{ "transactions.clear" | translate }}
  </button>
</div>

<table
  *ngIf="tableData; else loading"
  mat-table
  [dataSource]="tableData"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.transaction.id }}</td>
  </ng-container>
  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.player" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.player.firstName }} {{ element.player.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="externalId">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.externalId" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.externalId }}
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.type" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.type }}
    </td>
  </ng-container>
  <ng-container matColumnDef="provider">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.provider" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.provider }}
    </td>
  </ng-container>
  <ng-container matColumnDef="direction">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.direction" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.direction }}
    </td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.created" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.createdAt | date }}
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>
      {{ "transactions.amount" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.transaction.amount | currency : element.transaction.currency }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="table-row"
    mat-row
    (click)="onRowClick(row.transaction)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      {{ "tickets.noData" | translate }}
    </td>
  </tr>
</table>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
