.content {
  height: calc(100vh - 64px);
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-footer {
    padding: 12px;

    &__img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    &__txt {
      small {
        font-size: 10px;
        color: black;
        opacity: 0.9;
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.uicon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 16px;
    font-weight: 300;
  }
}
