<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="pointer" (click)="redirect(routes.DASHBOARD)"
    >Xtreme Backoffice</span
  >
  <span class="spacer"></span>

  <div class="uicon" [matMenuTriggerFor]="menu">
    <span>{{ nameLetters }}</span>
  </div>
</mat-toolbar>

<mat-drawer-container class="content" autosize hasBackdrop="false">
  <mat-drawer #drawer mode="side">
    <div class="sidebar">
      <app-sidemenu (menuItemClicked)="onItemClick()"></app-sidemenu>

      <div class="sidebar-footer">
        <div class="sidebar-footer__txt">
          <small>2024, version 0.0.1</small>
        </div>
      </div>
    </div>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage()">
    <mat-icon>translate</mat-icon>
    <span>Switch language</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
