.sidebar-list {
  padding: 12px;

  &-each {
    margin-top: 5px;
    opacity: 0.6;

    mat-icon {
      font-size: 28px;
    }

    &-label {
      width: 150px;
      height: 28px;
      display: flex;
      justify-content: flex-start;
      gap: 20px;

      span {
        line-height: 28px;
      }
    }

    &-active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.mdc-list-item:focus::before {
    background-color: white !important;
}