<mat-list role="list" class="sidebar-list">
  <mat-list-item
    [routerLink]="RoutePaths.DASHBOARD"
    routerLinkActive="sidebar-list-each-active"
    class="sidebar-list-each"
    (click)="itemClicked()"
  >
    <div class="sidebar-list-each-label">
      <mat-icon>dashboard</mat-icon>
      <span>{{ "sidemenu.dashboard" | translate }}</span>
    </div>
  </mat-list-item>
  <mat-list-item
    *ngIf="showTransaction"
    [routerLink]="RoutePaths.TRANSACTIONS"
    routerLinkActive="sidebar-list-each-active"
    class="sidebar-list-each"
    (click)="itemClicked()"
  >
    <div class="sidebar-list-each-label">
      <mat-icon>money</mat-icon>
      <span>{{ "sidemenu.transactions" | translate }}</span>
    </div>
  </mat-list-item>
  <mat-list-item
    *ngIf="showTicket"
    [routerLink]="RoutePaths.TICKETS"
    routerLinkActive="sidebar-list-each-active"
    class="sidebar-list-each"
    (click)="itemClicked()"
  >
    <div class="sidebar-list-each-label">
      <mat-icon>receipt</mat-icon>
      <span>{{ "sidemenu.tickets" | translate }}</span>
    </div>
  </mat-list-item>
</mat-list>
