:host {
  display: flex;
  justify-content: center;
  background-color: #ECCA9C;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container {
  margin-top: 20vh;
  min-width: 400px;
}

.title {
    color: #3f51b5;
}
