<div class="container">
  <h2 class="title">Login</h2>
  <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
      <mat-label>Username</mat-label>
      <input matInput type="email" formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button
      type="button"
      color="primary"
      mat-flat-button
      (click)="login()"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>
}
