<div class="container" *ngIf="transaction; else loading">
  <h2>Player ID - {{ transaction.playerId }}</h2>
  <h2>Transaction provider - {{ transaction.provider }}</h2>
  <h2>Created At - {{ transaction.createdAt | date }}</h2>
  <h2>Currency - {{ transaction.currency }}</h2>
  <h2>
    Amount - {{ transaction.amount | currency : transaction.currency }}
  </h2>

  <button class="back" mat-button color="primary" (click)="back()">
    Go back to all transactions
  </button>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
