<div class="filters">
  <form [formGroup]="filterForm">
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "tickets.player" | translate }}</mat-label>
      <mat-select formControlName="playerId">
        <mat-option *ngFor="let value of allPlayers" [value]="value.id">
          {{ value.firstName }} {{ value.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "tickets.status" | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of allTicketStatus" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "tickets.createdFrom" | translate }}</mat-label>
      <input matInput type="date" formControlName="createdFrom" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>{{ "tickets.createdTo" | translate }}</mat-label>
      <input matInput type="date" formControlName="createdTo" />
    </mat-form-field>
  </form>

  <button mat-button color="primary" (click)="applyFilters()">
    {{ "tickets.apply" | translate }}
  </button>
  <button mat-button color="warn" (click)="clearFilters()">
    {{ "tickets.clear" | translate }}
  </button>
</div>

<table
  *ngIf="tableData; else loading"
  mat-table
  [dataSource]="tableData"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="playerId">
    <th mat-header-cell *matHeaderCellDef>
      {{ "tickets.player" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.player.firstName }} {{ element.player.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      {{ "tickets.status" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.ticket.status }}</td>
  </ng-container>
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef>
      {{ "tickets.currency" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.ticket.currency }}</td>
  </ng-container>
  <ng-container matColumnDef="numOfBets">
    <th mat-header-cell *matHeaderCellDef>
      {{ "tickets.numOfBets" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.ticket.bets.length }}</td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>
      {{ "tickets.created" | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.ticket.createdAt | date }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="table-row"
    mat-row
    (click)="onRowClick(row.ticket)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      {{ "tickets.noData" | translate }}
    </td>
  </tr>
</table>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
