<div class="container" *ngIf="ticket; else loading">
  <h2>Player ID - {{ ticket.playerId }}</h2>
  <h2>Ticket status - {{ ticket.status }}</h2>
  <h2>Created At - {{ ticket.createdAt | date }}</h2>
  <h2>Currency - {{ ticket.currency }}</h2>
  <h2>
    Payed in amount - {{ ticket.payInAmount | currency : ticket.currency }}
  </h2>
  <h2>
    Payed out amount - {{ ticket.payOutAmount | currency : ticket.currency }}
  </h2>

  <h2>Bets:</h2>

  <div class="card-container">
    <mat-card *ngFor="let bet of ticket.bets" class="card">
      <mat-card-header>
        <mat-card-title>{{ bet.sport }}</mat-card-title>
        <mat-card-subtitle>{{ bet.league }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Status: {{ bet.status }}</p>
        <p>Market: {{ bet.market }}</p>
        <p>Participants:</p>
        <ul>
          <li *ngFor="let participant of bet.participants">
            {{ participant }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <h2>Transactions:</h2>

  <div *ngIf="linkedTransactions; else loading" class="card-container">
    <mat-card *ngFor="let transaction of linkedTransactions" class="card">
      <mat-card-header>
        <mat-card-title>{{ transaction.provider }}</mat-card-title>
        <mat-card-subtitle>{{ transaction.type }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Currency: {{ transaction.currency }}</p>
        <p>Amount: {{ transaction.amount | currency : ticket.currency }}</p>
        <p>Direction: {{ transaction.direction }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <button class="back" mat-button color="primary" (click)="back()">
    Go back to all tickets
  </button>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
