<div class="card-container">
  <mat-card *ngIf="user.grants.includes(grant.CanViewTransactions)" class="card" (click)="navigate(paths.TRANSACTIONS)">
    <mat-card-header>
      <mat-card-title>{{ 'dashboard.transaction' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'dashboard.transaction.desc' | translate }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card *ngIf="user.grants.includes(grant.CanViewTickets)" class="card" (click)="navigate(paths.TICKETS)">
    <mat-card-header>
      <mat-card-title>{{ 'dashboard.tickets' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'dashboard.tickets.desc' | translate }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
